* {
  box-sizing: border-box;
}

/* MAIN COMPONENTS */

body {
  background-color: #0062cc;
  font-family: 'Open-sans', sans-serif;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 1%;
  background: #0062cc;
}
.sign-text {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  padding-bottom: 2%;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

/* BUTTONS */

.btn-success {
  justify-content: center;
  align-items: center;
}
.btn-link {
  justify-content: center;
  align-items: center;
  color: rgb(230, 189, 113) !important;
}
.text-center {
  color: #fff;
  padding: 1.5%;
}
#error-box {
  padding-top: 2%;
  padding-bottom: 1%;
  color: #f17d7d;
  font-size: 15px;
  font-weight: 600;
}
.change-page-box {
  padding-top: 2px;
}

/* INPUTS */

label[for='input-email'] {
  color: #fff;
}
label[for='input-password'] {
  color: #fff;
}
